{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Blog</title>
</head>

<header>
    <nav>
        <a href="#">
            <img class="header-img" src="{% static 'images/icons8-y-26.png' %}" alt="logo">
        </a>
    </nav>
</header>

<h1 class="blog-title">Posts:</h1>
<h3 class="last-post__label">Last post:</h3> 
<div class="container">   
    {% block content %}
    {% endblock %}
</div>